.airports{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.airport{
    width: 50%;
}

.flight-info{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.flight-details{
    width: 50%;
}