#main-page{
    background-image: url('airplane-architecture-buildings-993022.jpg');
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    -webkit-filter: grayscale(40%); /* Safari 6.0 - 9.0 */
    filter: grayscale(40%);
    overflow: auto;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat; 
}

.main-header{
    margin-top: 5%;
    text-align: center;
    width: 100%;
    height: 25%;
}

.result-header{
    margin-top: 5%;
    text-align: center;
    width: 100%;
    height: 15%;
}

.flight-info{
    font-size: 1.1vw;
    background-color: steelblue   ;
    padding: 1px 10px 1px;
    color: white;
    border-radius: 15px;
    text-align: center;
}


.header-title{
    margin-top: 0;
    font-size: 3vw;
    font-weight: 500;
    margin-block-end: 0;
    font-family: 'Roboto', sans-serif;
}

.header-subtext{
    margin-top: 0;
    font-size: 1.1vw;
    font-weight: 300;
    margin-block-start: 0;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
}

.plane-icon{
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    left: 0px;
}

.new-search-button{
    position: absolute;
    top: 5px;
    left: 5px;
}


.input-title{
    width: 100%;
    margin-bottom: 5px;
}

.form-node{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

.cur-date{
    align-content: center;
    text-align: center;
    font-size: 1vw;
}

.input-box{
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid transparent;
    width: 400px;
    height: 42px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    font-size: 18px;
    padding: 5px;
}
   

.main-content{
    margin-top: 25px;
    margin-bottom: 25px;
    align-content: center;
    text-align: center;
    font-size: 18px;
}

.result-content{
    margin-top: 5vh;
}

.travel-info{
    font-size: 1.25vw;
    margin-top: 10px;
}

.map-pane{
    align-content: center;
    text-align: center;
    display: inline-block;
    position: absolute;
    bottom: 0px;
    font-size: 1.1vw;
}

#directions-map{
    height: 40vh;
    width: 100vw;
}


