.header-title{
    margin-top: 0;
    font-size: 36px;
    font-weight: 300;
    margin-block-end: 0;
}

body{
    font-family: 'Raleway', sans-serif;
}

.header-subtext{
    margin-top: 0;
    font-size: 14px;
    font-weight: 300;
    margin-block-start: 0;
    font-style: italic;
}

.cur-date{
    align-content: center;
    text-align: center;
}

.input-title{
    width: 100%;
    margin-bottom: 5px;
}


#main-page{
    background-image: url('airplane-architecture-buildings-993022.jpg');
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    -webkit-filter: grayscale(40%); /* Safari 6.0 - 9.0 */
    filter: grayscale(40%);
    overflow: auto;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat; 
}

.main-header{
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
    width: 100%;
    height: 15%;
}

.result-header{
    margin-top: 5%;
    text-align: center;
    width: 100%;
    height: 15%;
}

.result-content{
    margin-top: 1px;
}

.flight-info{
    background-color: steelblue   ;
    padding: 2px 10px 2px;
    color: white;
    border-radius: 15px;
    text-align: center;
}


.plane-icon{
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    left: 0px;
}

.home-button{
    position: absolute;
    top: 0px;
    left: -5px;
}


.input-title{
    width: 100%;
    margin-bottom: 5px;
}

.form-node{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}


.input-box{
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid transparent;
    width: 400px;
    height: 40px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    font-size: 18px;
    padding: 5px;
}

.input-dropdown{
    border-bottom: 1px solid #dcdcdc;
    padding: 5px;
}

.main-content{
    margin-top: 7%;
    align-content: center;
    text-align: center;
    font-size: 18px;
}

.travel-info{
    font-size: 20px;
    margin: 1px;
}

.form-container{
    margin-top: 5%;
    margin-bottom: 1%;
}



.map-pane{
    align-content: center;
    text-align: center;
    display: inline-block;
    position: absolute;
    bottom: 0px;
}

#directions-map{
    height: 30vh;
    width: 100vw;
}

@media screen and (max-width: 600px) {
    .input-box{
        width: 300px;
        height: 40px;
        font-size: 12px;
        padding: 5px;
    }

    .input-dropdown{
        font-size: 12px;
    }

    .main-header{
        height: 20%;
    }

    .flight-info{
        font-size: 12px;
    }

    .travel-info{
        font-size: 12px;
        margin-bottom: 2px;
    }
    .main-header{
        margin-top: 10%;
        height: 15%;
    }



}

@media screen and (min-width: 1440px) {
    .header-title{
        font-size: 64px;
        font-weight: 400;
    }
    .header-subtext{
        font-size: 20px;
    }
    .cur-date{
        font-size: 24px;
    }
    .input-title{
        font-size: 28px;
        margin-bottom: 20px;
    }   

    .travel-info{
        font-size: 20px;
    }

    .input-box{
        width: 600px;
        height: 60px;
        font-size: 24px;
        padding: 5px;
    }

    .flight-info{
        font-size: 24px;
        padding: 1px 10px 1px;
    }


}


